

* {
  font-family: roboto;
  font-weight: 300;
}

body {
  background-color:  var(--sl-color-neutral-200);
  margin-left: 5vw;

}

.log-section {
  margin-left: 6vw;
}

sl-details::part(base) {
  background-color: var(--sl-color-neutral-100);
}

.log-entry h3 {
  margin-left: -2vh;
  font-weight: var(--sl-font-weight-semibold);
}

.img-compare {
  display: flex;
}
.img-compare img {
  width: 40%;
  max-width: 40%;
  padding: 5px;
}

.img-container {
  display: flex;
}

.img-container img {
  width: 100%;
}

.tags {
  margin-top: -15px;
}

#theme-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

/* Settings for large screens */
@media screen and (min-width: 1200px) {
  .tabs {
    margin-right: 5vw;
  }
}

/* Settings for small screens */
@media screen and (max-width: 1200px) {
  .image-compare {
    display: block;
  }
  .image-compare img {
    max-width: 90%;
    width: 40%;
  }
}