

* {
  font-family: roboto;
  font-weight: 300;
}

body {
  background-color:  var(--sl-color-neutral-200);
  margin-left: 5vw;
}

h4 {
  font-weight: 500;
  font-size: 16px;
}

.log-section {
  margin-left: 6vw;
}

sl-details::part(base) {
  background-color: var(--sl-color-neutral-100);
}

.log-entry {
  margin-top: 6vh;
}

.log-entry h3 {
  margin-left: -2vh;
  font-weight: var(--sl-font-weight-semibold);
}

.img-container {
  display: flex;
}

.img-container img {
  width: 100%;
}

.tags {
  margin-top: -15px;
}

#theme-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.drawer-button {
  display: none;
}

/* Settings for large screens */
@media screen and (min-width: 1200px) {
  .tabs {
    margin-right: 5vw;
  }
}

/* Settings for phones */
@media screen and (max-width: 800px) {
  #theme-toggle {
    display: none;
  }
  .nav-entry {
    display: none;
  }
  .log-section {
    margin-left: 1vw;
  }

  .drawer-button {
    display: block;
    font-size: 32px;
    float: right;
    padding-right: 2vw;
  }

  .drawer-overview {
    position: relative;
  }

  sl-drawer ul {
    list-style-type: none;
  }

  .drawer-options {
    position: absolute;
    right: 5vw;
    bottom: 5vh;
  }

  .drawer-options li {
    margin-top: 3vh;
    text-align: right;
  }

  .log-section ul {
    padding-inline-start: 20px;
  }
}
